.nav-link:hover{
    background-color: #d9b3ff;
}
.dropdown-item:hover{
    background-color: #e0e0eb;
}



.section1{
    padding: 6rem 2rem;
}
.section1 h1{
    font-size: 3rem;
}

.btn-primary:hover{
    background-color:tomato;
}
.btn-secondary:hover{
    background-color:tomato;
}

